*,
::before,
::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body{
  height: 100%;
  width: 100%;
  background-color:rgb(200, 229, 255);
}

.container {
  background-color: #f0fcfc;
  padding: 20px 20px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 8px 8px 30px 0px rgba(66, 68, 90, 1);
  position: relative; /* To position the image absolutely within the container */
}

.container > h1{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center align the content */
}

label {
  font-size: 20px;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > form {
  display: flex;
  flex-direction: column;
  gap : 10px;
}

.container div{
  display: flex;
  flex-direction: column;
  gap : 2px;
}

.container input{
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(161, 155, 155);
}

.container input::placeholder{
  font-size: 12px;
  font-style: italic;
}

button{
  background-color: rgb(69, 130, 209);
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}

button:hover {
  background-color: rgb(49, 110, 189); /* Darker shade on hover */
  transform: scale(1.05); /* Slightly increase the size */
}

.additional-options a {
  color: #007bff;
  text-decoration: none;
}

.additional-options a:hover {
  text-decoration: underline;
}

.homeContainer{
    background-color: #f0fcfc;
    padding: 20px 20px;
    width: 300px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 8px 8px 30px 0px rgba(66, 68, 90, 1);
    position: relative; /* To position the image absolutely within the container */
}

.avatar-container {
  display: flex;
  justify-content: center; /* Center the avatar horizontally */
  margin-bottom: 15px; /* Space between the avatar and the welcome message */
}

.avatar {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Should match width for a perfect circle */
  border-radius: 50%; /* Makes the image round */
  object-fit: cover; /* Ensures the image covers the area without distortion */
  border: 2px solid #ddd; /* Optional: Add a border around the image */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow effect */
}

.homeContainer > h3{
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center align the content */
}

.divider {
  width: 100%;
  margin: 10px auto; /* Center the line */
  border: 0;
  height: 1px;
  background-color: #3b3939; /* Color of the line */
}

.user-info {
  margin-top: 15px;
  color: #333;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap : 2px;
}

.user-info p {
  margin: 5px 0;
  line-height: 1.5;
}